.git
.gitignore
.gitattributes
.github
.venv
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
data/
logs/
media/
staticfiles/
backups/
.trash/
ssl/
celerybeat-schedule
docker_wheels
Others
Shell_Commands
.coverage
.pytest_cache/
.DS_Store
Thumbs.db
