.git/
.gitignore
.gitattributes
.github/

.venv/
venv/
env/

.idea/
.vscode/
*.swp

__pycache__/
*.py[cod]
*.so
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage

.env
.env.*
!.env.dev.example
!.env.prod.example

data/
logs/
media/
staticfiles/
backups/
.trash/
ssl/
celerybeat-schedule

loki/
loki_data/
grafana/
grafana_data/
promtail/
prometheus.yml
prometheus_data/

docker_wheels/
Dockerfile*
docker-compose*.yml

.DS_Store
Thumbs.db

Others/
Shell_Commands/
build.log
*.log
*.bak
*.sql
*.dump