amqp==5.4.0
ansicon==1.89.0
asgiref==3.11.0
asttokens==3.0.1
async-timeout==5.0.1
billiard==4.3.0
bleach==6.1.0
blessed==1.39.0
bpython==0.26
celery==5.5.3
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.4.0
colorama==0.4.6
cssbeautifier==2.0.3
curtsies==0.4.3
cwcwidth==0.1.12
decorator==5.2.1
Django==5.2
django-doc==1.1.0
django-extensions==4.1
django-filter==24.3
django-markdownx==4.0.9
django-taggit==6.1.0
djangorestframework==3.15.0
djlint==1.46.2
EditorConfig==0.17.1
executing==2.2.1
flower==2.0.1
greenlet==3.2.5
gunicorn==25.3.0
humanize==4.16.0
idna==3.15
ipython==9.13.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jinxed==2.0.0
jsbeautifier==2.0.3
json5==0.15.0
kombu==5.5.4
Markdown==3.10.1
matplotlib-inline==0.2.1
packaging==26.2
parso==0.8.7
pathspec==1.1.1
pexpect==4.9.0
pillow==12.2.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg==3.3.2
psycopg-binary==3.3.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.3.post1
pyxdg==0.28
PyYAML==6.0.3
redis==6.2.0
regex==2026.9.10
requests==2.34.1
ruff==0.16.8
sentry-sdk==2.34.0
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
tornado==6.5.10
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
webencodings==0.6.1
argon2-cffi>=23.1.0
