ansicon==1.89.0
asgiref==3.11.0
asttokens==3.0.1
blessed==1.39.0
bpython==0.26
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
curtsies==0.4.3
cwcwidth==0.1.12
decorator==5.2.1
Django==6.0.2
django-doc==1.1.0
django-extensions==4.1
django-markdownx==4.0.9
django-taggit==6.1.0
executing==2.2.1
greenlet==3.5.0
gunicorn==25.3.0
idna==3.15
ipython==9.13.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jinxed==2.0.0
Markdown==3.10.1
matplotlib-inline==0.2.1
packaging==26.2
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
python-decouple==3.8
pyxdg==0.28
requests==2.34.1
sentry-sdk==2.34.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.7.0
wcwidth==0.7.0
Django==6.0.2
djangorestframework==3.15.0
django-filter==24.3
celery==5.5.3
flower==2.0.1
redis==6.2.0
prometheus-client==0.23.1
elasticsearch==8.19.1
django-elasticsearch-dsl==8.2
